form {
    border: 3px solid #fff;
    width: 300px;
    /* meletakkan form ke tengah */
    margin: 20px auto;
    padding: 20px 20px;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing:border-box;
}

button {
    background-color: #000034;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red;
}

.container {
    padding: 16px;
}

span.pass {
    float: right;
    padding-top: 16px;
}

h2, h1 {
    text-align: center;
}